*{
    margin: 0px;
    padding: 0px;
}
 main{
    background-color:whitesmoke
}
.function{
    height: 80.4px;
    width: 100%;
    background-color:#fb6207 ;
}
.function .start{
    height: 25px;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    /* gap: 25px; */
    font-size: 10px
    
}
    .More .save {
     text-transform: uppercase;
     height:14.4px ;
     width:110.53px ;
     padding: 0px 0px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Seller a{
    text-transform: uppercase;
    height:14.4px ;
    width:102.49px ;
    padding: 0px 0px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Help .save{
    text-transform: uppercase;
    height:14.4px ;
    width:95.18px ;
    padding: 0px 0px;
    color: #fff;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.Login a{
    text-transform: uppercase;
    height:14.4px ;
    width:34.33px ;
    padding: 0px 0px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Sign a{
    text-transform: uppercase;
    height:14.4px ;
    width:45.44px ;
    padding: 0px 0px;
    color: white;
    text-decoration: none;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .logo_container .search_box{
        height: 30px;
        width: 510px;
        margin-bottom: 15px;
    }
.logodaraz{
    height: 39px;
}
.banner{
    display: flex;
    align-items: row;
    height: 250px;
    width: 150px;
}
 .banner .banner1{
    height: 100%;
    padding-left: 13px;
}
.qr{
    padding-left: 15px;
    
} 
.qr .qrcode{
   height: 100px;

} 
img.appstore{
    height: 24px;
}
img.googleplay{
    height: 24px;
}

.par h3{
    color:rgb(70, 64, 64);
    margin: 0px 11px;
}
 .shop{
    border: 1px solid #fb6207;
    padding: 8px;
 }
.on_sale .now{
    color: #fb6207;
    height: 60px;
    display: flex;
    justify-content: center;
    justify-content:space-between;
    align-items: center;
    margin: 11px;
    border-bottom: 0.8px solid rgb(116, 110, 110);
}

.box{
    display: flex;
    flex-wrap: nowrap;
    background-color:white;
    justify-content: space-evenly;
   

}
.Anker{
    text-decoration: none;
    padding: 14px;

}
.box img{
    padding: 18px;
    height: 110px;
    
}
.one:hover{
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
    
}
.cat{
    /* background-color: antiquewhite; */
    padding-top: 12px;
    margin-left: 11px;
   
}
.cat img{
    height: 120px;
}
.item{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    
}
.bod{
    border: 0.8px solid rgb(183, 165, 165);
}
 .cat :hover{
    box-shadow: inset 10px 0 10px rgba(0, 0, 0, 0.8);
    
}
p{
    margin-top: 15px;
    padding-left: 11px;
}
.for{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    margin-top: 35px;

}
.for img{
    height: 150px;

}
.for :hover{
    box-shadow: rgb(109, 102, 102);
}
.fott{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    margin-top: 20px;
}
.foot{
    border: 1px solid aqua;
    padding-left:75px;
    padding-top: 5px;
    width: 165px;
    height: 22px;
    color: aqua;
}
.h3{
    padding-left: 45px;
    color:darkblue;
    font-weight:200;
    font-size: small;
}
ul{
    padding-top:8px;
    list-style-type: none;
    padding-left: 45px;
}
ul a {
    text-decoration: none;
    
}
/* li{
    font-weight: 100;
    font-size: small;
} */
h3{
    color: darkblue;
}