*{
    margin: 0px;
    padding: 0px;
}
 body{
    background-color:whitesmoke;
    font-family: Roboto-Regular, Helvetica Neue, Helvetica, Tahoma, Arial, Sans-serif;

}
.function{
    height: 70.4px;
    width: 100%;
    background-color:#fb6207 ;
    /* position: fixed; */
}
.function .start{
    height: 25px;
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 10px;
    position: fixed;
    background-color: #fb6207;
    
}
    .More a {
     text-transform: uppercase;
     height:14.4px ;
     width:110.53px ;
     padding: 0px 0px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.Seller a{
    text-transform: uppercase;
    height:14.4px ;
    width:102.49px ;
    padding: 0px 0px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Help a{
    text-transform: uppercase;
    height:14.4px ;
    width:95.18px ;
    padding: 0px 0px;
    color: #fff;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}   
.Login a{
    text-transform: uppercase;
    height:14.4px ;
    width:34.33px ;
    padding: 0px 0px;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Sign a{
    text-transform: uppercase;
    height:14.4px ;
    width:45.44px ;
    color: white;
    text-decoration: none;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
   
.logodaraz{
    height: 39px;
}
.name{
    display: flex;
    width: 100%;
    top: 24px;
    position: fixed;
    height: 52px;
    position: fixed;
    background-color: #fb6207;

    /* justify-content: space-between; */
}
.name .logodaraz{
    padding-left: 55px;
}
input{
    height: 12px;
    width: 359px;
    padding: 8px;
    color: black;
    font-size: 9px;
    border: none;
    border-style: none;

}
span.material-symbols-outlined{
    padding-top: 4px;
}

.material-symbols-outlined{
   background-color: #fbd389;
   padding: 4px 4px 0px 4px;
   color: #fb6207;
   opacity:50% ;
}
.search{
    padding-left: 53px;
    padding-top: 7px;
    display: flex;
}

.banner{
    display: flex;
    align-items: row;
    height: 250px;
    width: 150px;
    background-color: white;
}
 .banner .banner1{
    height: 100%;
    width: 568px;
    padding-left: 63px;}

.ss{
    height: 150px;
}
.qr{
    padding-left: 15px;
    
} 
.qr .qrcode{
   height: 72px;

} 
img.appstore{
    height: 20px;
}
img.googleplay{
    height: 20px;
}
.par{
    margin:0px 60px ;
}
.par h3{
    color: rgb(128 113 113);
    margin: 0px 1px;
    padding-top: 12px;

}
 .shop{
    border: 1px solid #fb6207;
    padding: 8px;
 }
.on_sale .now{
    color: #fb6207;
    font-size: 11px;
    height: 60px;
    display: flex;
    justify-content: center;
    justify-content:space-between;
    align-items: center;
    margin: 11px;
    border-bottom: 0.8px solid rgb(116, 110, 110);
    margin: 0px 1px;
}
div.box{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.Anker img{
    height: 140px;
}
.box a{
    text-decoration: none;
    color: black;
}
div.Rs{
    color: #fb6207;
}
.dis{
    display: flex;
    justify-content: space-around;
    float: left;
    gap: 8px;
    text-decoration: line-through;
    color: rgb(100, 89, 89);
    font-size: 10px;
}
.detail{
    font-size: 11px;
}
 div.per{
    text-decoration:initial;
    font-size: 10px;
}

.cat{
    /* background-color: antiquewhite; */
    padding-top: 12px;
    margin-left: 11px;
   
}
.cat img{
    height: 120px;
}
.item{
    display: flex;
    flex-wrap: wrap;
    margin-top: 35px;
    justify-content: space-evenly;
    
}
.bod{
    border: 0.8px solid rgb(183, 165, 165);
}
  .item .bod :hover{
    box-shadow: inset 10px 0 10px rgba(154, 145, 145, 0.8);
    
} 
div>p{
    text-wrap: wrap;
    color: black;
    
}
.c a{
    text-decoration: none;
    font-size: 12px;
    text-align: center;
}
p{
    margin-top: 15px;
    color: rgb(70, 62, 62);
}
.for{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;  
    margin-top: 35px;

}
.for img{
    height: 150px;

}
.for :hover{
    box-shadow: rgb(67, 59, 59);
}
div.you{
    color: black;
    text-wrap: wrap;
    padding-left: 40px;
    /* text-align: center; */
}
.for a{
    text-decoration: none;
    font-size: 10px;
   
    
    
}



.foot a{
    border: 1px solid #1a9cb8;
    text-decoration: none;
    width: 265px;
    height: 30px;
    color: #1a9cb8;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 349px;
    margin-top: 15px;
}
    
.h3{
    display: inline-block;
    width: 224px;
    margin-left: 45px;
    color: #0f136d;
   font-weight: 100;
    font-size: small;
}
ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 2px;
    font-size: 10px;
    padding-top:8px;
    list-style-type: none;
    padding-left: 45px;
    
}
ul a {
    text-decoration: none;
    color: #0f136d;
    width: 223px;

    
}
h3{
    color: #0f136d;
}
.footitem{
    padding: 0px 0px 25px 2px;
    display: flex;
    background-color: whitesmoke;
    /* background-color: #fbd389; */
    
}
.footitem img{
    height: 55px;
}
.pushleft img{
    height: 35px;
}
